<div class="container">
    <label for="people-select">Ik wil meer te weten komen over:</label>

    <select name="peoples" id="people-select" [(ngModel)]="selectedOption">
        <option [value]="people.termmasterQuery" *ngFor="let people of peoples">{{ people.name }}</option>
    </select>

    <button (click)="generateData()">
        Verstuur
    </button>

</div>

<section>
    <div class="gallery__wrapper" *ngFor="let instance of pageData | slice:0:5; let i=index">
        <img class="gallery__wrapper--image" [src]="instance.link.value" />
        <p class="gallery__wrapper--description">{{ instance.title.value }}</p>
    </div>
</section>
