<div class="container">
    <label for="people-select">Ik wil meer te weten komen over:</label>

    <select name="peoples" id="people-select" [(ngModel)]="selectedOption">
        <option [value]="people.name" *ngFor="let people of peoples">{{ people.name }}</option>
    </select>

    <button (click)="getData()">
        Verstuur
    </button>

    <!-- <p>Geselecteerde volk: {{ selectedOption }}</p> -->
</div>


<div class="gallery" *ngFor="let image of data | slice:0:5; let i=index">
    <a target="_blank" [href]="image.href">
        <img [src]="image.thumbnailUrl" width="300" height="200">
    </a>
    <div class="desc">{{image.title}}</div>
</div>
