.gallery {
    width: 80vw;
    height: 100%;
    display: block;
    margin: 3em;
}

.gallery__wrapper {
    display: block;
    margin: 0 auto;
    width: 50vw;
    height: 100%;
}

.gallery__wrapper--image {
    max-height: 30vh;
    width: auto;
    object-fit: cover;
}

.gallery__wrapper--description {
    color: white;

}

.container {
    margin-bottom: 3em;
}


@media only screen and (max-width: 480px) {

    .container {
        display: block;
        margin: 15em auto 2em auto;
        width: 80%;
    }

    .gallery__wrapper {
        margin: 0 auto;
        width: 90vw;
    }

    img {
        width: 80vw;
        height: auto;
    }
}
