/* You can add global styles to this file, and also import other style files */
html {
    margin: 0;
    padding: 0;
    font-size: 16px;

    position: relative;
}

body {
    background: url('assets/background2.jpg') no-repeat 40% center fixed;
    background-size: cover;
}

h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Indonesiana', serif;
    margin-top: 0;
}

p,
label {
    padding: 0.5em;
    font-size: 1.25em;
    font-family: 'Belepotan', serif;
}

select,
button {
    display: block;
    margin: 0.5em auto;
    width: 50%;
    text-align: center;
}



app-input {
    width: 100vw;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 247, 237, 0.95);
    border-radius: 1em;

    width: 20vw;
    height: 20vh;
    margin-top: 400px;

    box-shadow:
        0 20px 30px -15px rgba(0, 0, 0, 0.5),
        0 40px 40px -20px rgba(0, 0, 0, 0.4),
        0 70px 50px -30px rgba(0, 0, 0, 0.3),
        0 40px 60px -5px rgba(248, 247, 237, 0.3);
}

@font-face {
    font-family: Indonesiana;
    src: url("assets/Indonesiana.woff") format('woff');
}

@font-face {
    font-family: Belepotan;
    src: url("assets/belepotan.otf") format("opentype");
}
